<!-- <form *ngIf="search" name="deleteForm" (ngSubmit)="confirmDelete(search.id!)"> -->
    <!-- <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div> -->
   
    	<!-- <div class="modal fade" role="dialog" aria-labelledby="cancel" aria-hidden="false"> -->
		    <div class="modal-dialog modal-dialog-centered" role="document">
		        <div class="modal-content">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		            </button>
		            <div class="modal-body text-center">
		                <p class="mb-8">Are you sure you want to cancel the appointment ?</p>
		                <div class="button-group mb-4 pb-2">
		                    <a class="btn btn-secondary mr-3" href="#" role="button">No</a>
		                    <a class="btn btn-primary" href="#" role="button">Yes</a>
		                </div>
		            </div>
		        </div>
		    </div>
		<!-- </div> -->
    
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-search" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div> -->
<!-- </form> -->

