<div class="wrapper">
    <!-- Page Content  -->
    <div id="content">
        <div class="main-wrapper search-wrapper" *ngIf="searchContent">
            <h2>Search</h2>
            <form class="mb-4">
                <div class="form-row search-form-wrap">
                    <div class="col-3">
                        <label class="select-wrap">
                            <select class="custom-select d-inline-block" id="inlineFormCustomSelect">
                                <option selected>View 8</option>
                                <option value="2">View 16</option>
                                <option value="3">View 32</option>
                                <option value="3">View 40</option>
                            </select>
                        </label>                                
                    </div>
                    <div class="col-9 text-right">
                    	<label class="select-wrap">
                            <select class="custom-select d-inline-block width150" (change)="countryChange($event.target.value)">
                                <option selected value="0">Select Country</option>
                                <option *ngFor="let country of countries" value={{country.id}} >
							      {{country.country}}
							    </option>
                            </select>
                        </label>
                        <label class="select-wrap">
                            <select class="custom-select d-inline-block width150" (change)="stateChange($event.target.value)">
                                <option selected value="0">Select State</option>
                                <option *ngFor="let state of states" value={{state.id}} >
							      {{state.state}}
							    </option>
                            </select>
                        </label>
                        <label class="select-wrap">
                            <select class="custom-select d-inline-block width150" (change)="cityChange($event.target.value)">
                                <option selected value="0">Select City</option>
                                <option *ngFor="let city of cities" value={{city.id}}>
							      {{city.name}}
							    </option>
                            </select>
                        </label>
                    	<label class="select-wrap">
                            <select class="custom-select d-inline-block width150" (change)="specialityChange($event.target.value)">
                                <option>Select Speciality</option>
                                <option *ngFor="let speciality of specialities;let i = index"" value={{speciality.id}} selected="{{changeValue(speciality.id, i)}}">
							      {{speciality.name}}
							    </option>
                            </select>
                        </label>
                        <div class="search d-inline-block">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control mr-2 d-inline-block" placeholder="Search Dcotor" [(ngModel)]="searchText" name="searchBox" (keydown.enter)="search()">
                        </div>
                       	<a class="btn btn-lg btn-primary mr-2 rounded-sm" role="button" (click)="search()" [class.disabled]="isDisabled()">Search</a>
                        <!--<input type="text" class="form-control mr-2 d-inline-block" placeholder="Search Dcotor">-->
                        <!-- <label class="select-wrap">
                            <select class="custom-select d-inline-block" id="inlineFormCustomSelect">
                                <option selected>Search by</option>
                                <option value="1">Location</option>
                                <option value="2">Speciality</option>
                                <option value="3">Avaliablity</option>
                                <option value="4">Timings</option>
                            </select>
                        </label>  -->                               
                    </div>
                </div>
            </form>
            	<div class="row" *ngIf="searches">
                	<div class="col-md-6 col-xl-3" *ngFor="let search of searches | slice:0:8; trackBy: trackIdentity">
                    	<div class="card border-0">
                    		<div class="card-header">
                             <div class="card-img">
                                 <img src="{{search.imageUrl}}" alt="user">
                             </div>
                             <div class="card-title mb-0">
                                 <h3>Dr. {{search.firstName}} {{search.lastName}}</h3>
                                 <small>{{search.specialitiesStr}}</small>
                                 <div class="rating">
                                     <i class="fas fa-star"></i>
                                     <i class="fas fa-star"></i>
                                     <i class="fas fa-star"></i>
                                     <i class="fas fa-star"></i>
                                     <i class="fas fa-star-half"></i>
                                     <span class="ml-2">4.5</span>
                                 </div>
                             </div>
                         </div> 
                    		<div class="card-body">
                             <p class="card-text m-0">{{search.locations[0]}}</p>
                             <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">{{search.phoneNumber}}</a>
                             <a class="d-block link mb-3" (click)="viewProfile(search)"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                             <a class="d-block link" (click)="bookingAppointment(search)"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                         </div>
                    	</div>
                   	</div>
               	</div>
            <!-- <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span class="ml-2">4.5</span>
                                </div>
                            </div>
                        </div>                                
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                    <span class="ml-2">4.5</span>
                                </div>
                            </div>
                        </div>                                
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="ml-2">4.0</span>
                                </div>
                            </div>
                        </div>                                
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="ml-2">4.0</span>
                                </div>
                            </div>
                        </div>                              
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="ml-2">4.0</span>
                                </div>
                            </div>
                        </div>                               
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="ml-2">4.0</span>
                                </div>
                            </div>
                        </div>                             
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="ml-2">4.0</span>
                                </div>
                            </div>
                        </div>                                 
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card border-0">
                        <div class="card-header">
                            <div class="card-img">
                                <img src="/content/images/doctor-thumb.png" alt="user">
                            </div>
                            <div class="card-title mb-0">
                                <h3>Dr. Smith John </h3>
                                <small>Gynecologist</small>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="ml-2">4.0</span>
                                </div>
                            </div>
                        </div>                               
                        <div class="card-body">
                            <p class="card-text m-0">United States, San Francisco</p>
                            <a href="tel: +47 789 526 2222" class="mb-4 card-link d-block">+47 789 526 2222</a>
                            <a href="#" class="d-block link mb-3"><i class="far fa-id-badge mr-2"></i>View Profile</a>
                            <a href="#" class="d-block link"><i class="far fa-calendar-alt mr-2"></i>Schedule Appointment</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col">
                    <p>Showing 1 to 8 of 2 entries</p>
                </div>
                <div class="col">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-wrapper search-wrapper" *ngIf="viewProfileContent">
            <h2>View Profile {{profileId}}</h2>
            <form class="mb-4">
                <div class="form-row search-form-wrap">
                
                </div>
            </form>
        </div>
        <div class="main-wrapper search-wrapper" *ngIf="bookingAppointmentContent">
            <h2 class="mb-3">Appointment Booking</h2>
                    <div class="row">                        
                        <div class="col-md-6 col-xl-7">
                            <div class="bg-white rounded shadow calander-wrap">
                                <h3 class="border-bottom pb-2 mb-4">12/02/2020 12:15 pm</h3>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="basic-info title text-center">
                                            <div class="doctor-img"></div>
                                            <h3 class="mb-0">Dr. Smith John </h3>
                                            <small>Gynecologist</small>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                                <span class="ml-2">4.5</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="address-info">
                                            <form>
                                                <div class="form-group row">
                                                    <div class="col">Address</div>
                                                    <div class="col">
                                                        <p class="mb-0">United States, San Francisco</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">Phone</div>
                                                    <div class="col">
                                                        <p class="mb-0"><a href="tel: +47 789 526 2222">+47 789 526 2222</a></p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">Email</div>
                                                    <div class="col">
                                                        <p class="mb-0"><a href="mailto: doctor@gmail.com">doctor@gmail.com</a></p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">Receive Uploade on  Mobile</div>
                                                    <div class="col">
                                                        <div class="form-group form-check mb-3 custom-control-inline">
                                                            <input class="custom-checkbox" id="yes" type="checkbox" value="Yes">
                                                            <label for="yes" class="m-0">Yes</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3 custom-control-inline">
                                                            <input class="custom-checkbox" id="no" type="checkbox" value="No">
                                                            <label for="no" class="m-0">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col">Amount</div>
                                                    <div class="col">
                                                        <p class="mb-0">&nbsp;</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12"><p class="mb-2">Please  Describe Your Problem</p></div>
                                                    <div class="col-sm-12">
                                                        <textarea class="form-control" placeholder="Type here...." required=""></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <a class="btn btn-lg btn-secondary mr-2 rounded-sm" href="#" role="button">Previous</a>
                                                        <a class="btn btn-lg btn-primary mr-2 rounded-sm" href="#" role="button">Confirm Appointment</a>
                                                        <a class="btn btn-lg btn-secondary rounded-sm" href="#" role="button">Cancel</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-5">
                            <div class="bg-white rounded shadow time-slots">
                                <h3 class="border-bottom pb-2 mb-3">Timeslots for the day 12/02/2020</h3>    
                                <ul class="list-unstyled">
                                    <li><a href="#">1:30 pm</a></li>
                                    <li><a href="#">1:45 pm</a></li>
                                    <li><a href="#">2:00 pm</a></li>
                                    <li><a href="#">2:15 pm</a></li>
                                    <li><a href="#">2:30 pm</a></li>
                                    <li><a href="#">2:45 pm</a></li>
                                    <li><a href="#">3:00 pm</a></li>
                                    <li><a href="#">5:15 pm</a></li>
                                    <li><a href="#">5:30 pm</a></li>
                                    <li><a href="#">5:45 pm</a></li>
                                    <li><a href="#">6:00 pm</a></li>
                                    <li><a href="#">6:15 pm</a></li>
                                    <li><a href="#">6:30 pm</a></li>
                                    <li><a href="#">6:45 pm</a></li>
                                    <li><a href="#">7:00 pm</a></li>
                                    <li><a href="#">7:15 pm</a></li>
                                    <li class="active"><a href="#">7:30 pm</a></li>
                                    <li><a href="#">7:45 pm</a></li>
                                    <li><a href="#">8:00 pm</a></li>
                                    <li><a href="#">8:15 pm</a></li>
                                    <li><a href="#">8:30 pm</a></li>
                                    <li><a href="#">8:45 pm</a></li>
                                    <li><a href="#">9:00 pm</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>