<div class="modal fade" id="add-stats" tabindex="-1" role="dialog" aria-labelledby="add-stats" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form name="createForm" role="form" novalidate [formGroup]="createForm">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <h3 class="mb-4 pb-2 border-bottom">Add Stats</h3>
                    <p class="mb-0">Date: {{today | date:'MM dd, yyyy, hh:mm:ss a'}}</p>
                    <p class="mb-3">Age: 45</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="weight" class="mb-0">Weight</label>
                                <input type="text" class="form-control" id="weight" name="weight"
                                    formControlName="weight" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                                <label for="height" class="mb-0">Height</label>
                                <input type="text" class="form-control" id="height" name="height"
                                    formControlName="height">
                            </div>
                        </div>
                    </div>
                    <div class="button-group text-center mb-2 pb-2">
                        <a class="btn btn-secondary mr-3" href="#" role="button" data-dismiss="modal"
                            (click)="close()">Cancel</a>
                        <a class="btn btn-primary" type="submit" href="#" (click)="save()" role="button"
                            data-dismiss="modal">Yes</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>